* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: #2b2a4c;
  color: #eee2de;
}
#content {
  margin: 0 20rem;
  border: 1px solid black;
}
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
h1 {
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  color: #b31312;
}
#logo {
  min-height: 5rem;
  max-width: 6rem;
}
nav {
  display: flex;
  justify-content: space-evenly;
}
h2 {
  font-size: 1.6rem;
}
#culinaryMarvels,
#dedicatedTeam,
#reviews,
#specialOffer,
#endingMessage {
  font-weight: bold;
  color: #b31312;
  font-size: 1.2rem;
}
#highlights {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}
#contactDetailsLabel {
  display: flex;
  justify-content: center;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
#restaurantEmail {
  color: #eee2de;
}
.bottomDetail {
  display: flex;
  justify-content: center;
}
#menuContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
#extraRare,
#rare,
#mediumRare,
#medium,
#mediumWell,
#wellDone {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
}
#extraRare img,
#rare img,
#mediumRare img,
#medium img,
#mediumWell img,
#wellDone img {
  max-width: 9rem;
}
#extraRare p:nth-child(2)::before,
#rare p:nth-child(2)::before,
#mediumRare p:nth-child(2)::before,
#medium p:nth-child(2)::before,
#mediumWell p:nth-child(2)::before,
#wellDone p:nth-child(2)::before,
p:nth-child(3)::before,
p:nth-child(4)::before {
  content: "✓";
}
