* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.content {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  margin: 1rem;
}
#projectFolders {
  display: flex;
  flex-direction: column;
  background-color: rgb(236, 233, 233);
  border-radius: 5px;
}
#mainContent {
  display: grid;
  grid-template-rows: 2rem 2rem 2fr;
}
#mainContent button {
  border-radius: 5px;
}

#todoPage {
  background-color: rgb(236, 233, 233);
  border-radius: 5px;
}
#projectFolders,
#mainContent,
#todoPage {
  padding: 0 1rem;
}
#mainContent > #currentProjectContainer {
  display: flex;
  flex-direction: row;
}
#currentProjectContainer > h2 {
  padding-right: 1rem;
}
#addTodoButton,
#addTodayButton,
#addHighPriorityButton,
#addMediumPriorityButton,
#addLowPriorityButton {
  display: flex;
  width: 100%;
}
#addTodoButton::before,
#addTodayButton::before,
#addHighPriorityButton::before,
#addMediumPriorityButton::before,
#addLowPriorityButton::before {
  content: "+";
}
#bottomDisplay {
  display: flex;
  flex-direction: column;
}
#bottomDisplay > button {
  display: grid;
  grid-template-columns: 2rem 1fr 2rem;
  justify-items: center;
  margin-bottom: 0.2rem;
}
#bottomDisplay > button::before {
  content: "";
}

#bottomDisplay > button::after {
  content: ">";
}
#bottomDisplay > button.taskCompleteTrue::before {
  content: "✓";
  color: rgb(9, 247, 9);
}

#addTodoButton,
#addTodayButton,
#addHighPriorityButton,
#addMediumPriorityButton,
#middleDisplay,
#addLowPriorityButton {
  font-size: 1.3rem;
  min-height: 0.4rem;
}
#calendar {
  font-size: 1rem;
}
#middleDisplay {
  margin-bottom: 1rem;
}
.todoProjectButton {
  font-size: 1.1rem;
}
.todoProjectButton.high {
  background-color: rgb(226, 32, 32);
  color: white;
}
.todoProjectButton.medium {
  background-color: rgb(223, 175, 44);
  color: white;
}
.todoProjectButton.low {
  background-color: rgb(16, 102, 16);
  color: white;
}
#labels {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}
#todoPage > #todoInformationPage {
  color: rgb(71, 70, 70);
}
#todoInformationPage > h5 > p {
  font-size: 1.5rem;
  color: black;
}
#labelTitle::before,
#labelDueDate::before {
  content: "*";
  color: red;
}
#labels > label {
  min-width: 5rem;
  max-width: 100%;
}
#labels > label > * {
  width: 100%;
}
