* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  margin: 8rem 35rem 0;
}

#display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
}
.playableButton {
  min-height: 10rem;
  justify-items: center;
  font-size: 7rem;
}
#resetButton {
  min-height: 5rem;
  display: flex;
  justify-content: center;
}
.placeholder,
.topDisplayUpdates {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 2rem;
  justify-items: center;
}

.bottomDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}
.bottomDisplay > button {
  max-width: 16rem;
  min-height: 5rem;
  font-size: 2rem;
}
.playableButton:first-child,
.playableButton:nth-child(4),
.playableButton:nth-child(7) {
  border-left: none;
}
.playableButton:first-child,
.playableButton:nth-child(2),
.playableButton:nth-child(3) {
  border-top: none;
}
.playableButton:nth-child(3),
.playableButton:nth-child(6),
.playableButton:nth-child(9) {
  border-right: none;
}
.playableButton:nth-child(7),
.playableButton:nth-child(8),
.playableButton:nth-child(9) {
  border-bottom: none;
}
.announcement {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}
